.right {
  flex: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}
/* 
.right::-webkit-scrollbar {
  display: none;
} */

.right h1 {
  text-transform: lowercase;
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 700;
  color: #cd776b;
}

.right h1:hover {
  color: #704c49;
}

.right section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tools {
  padding-top: 50px;
}

.right p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #7e7065;
}

.projects h2 {
  color: #7e7065;
  font-size: 1.15rem;
}
